<div class="weather-bg d-flex align-items-center justify-content-center">

  <div class="weather-card shadow-lg p-4">

    <h1 class="text-center mb-4 text-white">
      <i class="bi bi-cloud-sun-fill"></i>
      Météo du jour
    </h1>

    <!-- SEARCH -->
    <div class="input-group mb-4">
      <input
        type="text"
        class="form-control"
        [ngModel]="villeRecherchee()"
        (ngModelChange)="villeRecherchee.set($event)"
        placeholder="Entrer votre ville..."
      />
      <!-- ALERTE VILLE INTROUVABLE -->
    <div *ngIf="erreurVille()" class="alert alert-danger mt-3 text-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    {{ erreurVille() }}
</div>
      <button class="btn btn-warning" (click)="chercherMeteo()"> 
        <i class="bi bi-search"></i>
      </button>
    </div>

    <!-- RESULT -->
    <div *ngIf="weatherData" class="text-center text-white">

      <h2 class="city">{{ weatherData.name }}</h2>

      <!-- ICON -->
      <div class="weather-icon">
        <i [ngClass]="getWeatherIcon()"></i>
      </div>

      <div class="temp">
  <i class="bi bi-thermometer-half me-2"></i>
  {{ temperature() }}
</div>

      <!-- DETAILS -->
      <div class="row mt-4">
        <div class="col">
          <i class="bi bi-droplet"></i>
          <p>Humidité</p>
          <strong>{{ weatherData.main.humidity }}%</strong>
        </div>

        <div class="col">
  <i class="bi bi-thermometer"></i>
  <p>Ressenti</p>
  <strong>{{ weatherData.main.feels_like }}°C</strong>
</div>
        <div class="col">
          <i class="bi bi-wind"></i>
          <p>Vent</p>
          <strong>{{ weatherData.wind.speed }} km/h</strong>
        </div>
      </div>

    </div>

  </div>
</div>