.weather-bg {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1601297183305-6df142704ea2?w=1920&q=80') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.weather-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(10, 20, 60, 0.50);
  z-index: 0;
}

.weather-card {
  position: relative;
  z-index: 1;
}

/* Carte principale */
.weather-card {
  width: 350px;
  border-radius: 20px;
  background: rgba(255,255,255,0.1);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  position: relative;
  z-index: 1;
   padding: 10px 15px;
}

/* Ville */
.city {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

/* Température */
.temp {
  font-size: 28px;
  font-weight: bold;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp i {
  font-size: 30px;
  color: #ffc107;
}

/* Icône météo */
.weather-icon i {
  font-size: 40px;
}

/* Détails */
.row i {
  font-size: 16px;
}
.forecast-day i {
  font-size: 18px;
}
.row p {
  font-size: 12px;
  margin-bottom: 2px;
}

.row strong {
  font-size: 13px;
}

.forecast-day {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 4px 3px;
  min-width: 45px;
  font-size: 12px;
}

.forecast-day i {
  font-size: 16px;
}

.forecast-day strong {
  font-size: 12px;
}

h6 {
  font-size: 13px;
  margin-bottom: 5px;
  }
 /*Style pour les prévisions*/
.forecast-day {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 5px 4px;
  min-width: 50px;
}
